@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text";
  /* box-sizing: inherit; */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/Combined\ Shape\ 2.png"),
    url("./assets/Path\ 2.png");
  background-repeat: no-repeat;
  background-size: 80%, 100%;
  background-position: top, bottom;
  background-color: #1d1e28;
  /* box-sizing: border-box; */
}
h1 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.5px;
  text-transform: uppercase;
}
.newYear_h1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.5px;
  text-transform: uppercase;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 104px;
  justify-content: center;
  align-items: center;
  margin-top: -10rem;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.days,
.hours,
.minutes,
.seconds {
  width: 148px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* background: #191A23"; */
}

.days_2,
.hours_2,
.minutes_2,
.seconds_2 {
  background-image: url("./assets/Rectangle\ Copy\ up.png");
  background-repeat: no-repeat;
  background-color: #191a23;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 150px;
}
h2 {
  color: #8385a9;
  text-align: center;
  font-family: "Red Hat Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.919px;
  /* text-align: center; */
}
p {
  color: #fb5e84;
  text-align: center;
  font-family: "Red Hat Text";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 71px; /* 88.75% */
  letter-spacing: -2.4px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    /* background-color: red; */
    background-image: url('./assets/bottomMobile.png'), url('./assets/Combined\ Shape\ 2.png');
    background-position: bottom, top;
    background-size: 100%, 300%;
  }
  .days,
  .hours,
  .minutes,
  .seconds {
    width: 70px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }
  h2 {
    color: #8385a9;
    font-size: 7px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.959px;
    /* text-align: center; */
  }
  p {
    color: #fb5e84;
    text-align: center;
    font-family: "Red Hat Text";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 71px; /* 197.222% */
    letter-spacing: -1.08px;
  }
  .days_2,
  .hours_2,
  .minutes_2,
  .seconds_2 {
    background-image: url("./assets/Rectangle\ Copy\ up.png");
    background-repeat: no-repeat;
    background-color: #191a23;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 71px;
    flex-shrink: 0;
    /* background-color: red; */
  }
  h1 {
    color: #fff;
    text-align: center;
    font-family: "Red Hat Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.136px;
    text-transform: uppercase;
    width: 327px;
  }
  .container {
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;
  }
  .container2 {
    /* display: flex; */
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    gap:16px;
  }
}
